<html>
<head>
 <link rel="stylesheet" type="text/css" href="css/widget_style.css">
 <script src="/socket.io/socket.io.js"></script>
 <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'/></script>
 <script>
	var players = {
		scout: [
			"clockwork",
			"ruwin",
			"cyzer",
			"shrugger",
			"youmustmike",
			"deadbolt",
			"stratovarius",
      "sezco",
      "justin",
      "squid"
		],
		soldier: [
			"blaze",
			"grape",
			"tagg",
			"ma3la",
      "mackey",
			"seagull",
			"marmaduke",
			"paddie",
			"tyrone",
      "zbryan"
		],
		pyro: [
			"satan",
			"hueylewis",
			"puddingcup"
		],
		demoman: [
			"xalox",
			"duwatna",
			"alfa",
			"pyyyour",
			"pharaoh"
		],
		heavy: [
			"arthur",
			"skyrolla",
			"oplaid"   
		],
		engineer: [
			"sigafoo",
			"spamfest",
			"vhalin"   
		],
		medic: [
			"smaka",
			"shade",
			"indust",
			"thefragile",
			"ninjanick"
		],
		sniper: [
			"max",
			"paragon",
			"powah"
		],
		spy: [
			"stabby",
			"hei",
			"acooma"
		]   
	};
    
	$(document).ready(function(){
		$("#classselect").change(function(){
			populatePlayerSelect();
		});  

    function populatePlayerSelect() {
      var selectedClass = $('#classselect').find("option:selected").attr("class");    
      var p = players[selectedClass];
      var newoptions = "";
      for(var i = 0; i < p.length; i++){
        newoptions += '<option val="' + selectedClass + (i + 1) + '">'+ p[i] +'</option>';         
      }
      $("#playerselect").html(newoptions); 
    }

    //initalize
    populatePlayerSelect();
	});
 
  function sendMessage(socket, commandstring, meta) {
    socket.emit('send', {message: commandstring, content: meta });
  }	

  window.onload = function() {
    var messages = [];
    var hostname = 'http://'+document.location.hostname+':1337';
    var socket = io.connect(hostname);
    var sendBanButton = document.getElementById("sendban");
    var sendUnbanButton = document.getElementById("sendunban");
    var banMessage = document.getElementById("banmessage");
  
    var sendPickButton = document.getElementById("sendpick");
    var sendUnpickButton = document.getElementById("sendunpick");
    var pickClass = document.getElementById("classselect");
    var pickPlayer = document.getElementById("playerselect");
    var pickSlot = document.getElementById("slotselect");
        
		//*----- BANS -----*//
		
		function prepBanJSON(team) {	
			var ban = {player: $(pickPlayer).find("option:selected").html(), 
                tf_class: $(pickClass).find("option:selected").attr("class")};	
					   
			sendMessage(socket, 'df_ban', JSON.stringify(ban));
		}
		
		function prepUnbanJSON(team) {	
			var unban = {player: $(pickPlayer).find("option:selected").html()};			
			sendMessage(socket, 'df_unban', JSON.stringify(unban));
		}
		
		sendBanButton.onclick = function(){ prepBanJSON(); }
		sendUnbanButton.onclick = function(){ prepUnbanJSON(); }
		
		//*----- PICKS -----*//
		
		function prepPickJSON(team) {
			var expData = pickPlayer.value.split(".");		
			var pick = {player: $(pickPlayer).find("option:selected").html(), 
                 tf_class: $(pickClass).find("option:selected").attr("class"), 
                 team: "", 
                 slot: pickSlot.value};

			pickSlot.value.substring(0, 4) == "#red" ? pick.team = "red" : pick.team = "blu"			
			sendMessage(socket, 'df_pickplayer', JSON.stringify(pick));
		}
		
		function prepUnpickJSON(team) {
			var unpick = {team: "", 
                    slot: pickSlot.value,
                    player: $(pickPlayer).find("option:selected").html()};
						  
			pickSlot.value.substring(0, 4) == "#red" ? unpick.team = "red" : unpick.team = "blu"			
			sendMessage(socket, 'df_unpick', JSON.stringify(unpick));
		}
		
    sendPickButton.onclick = function(){ prepPickJSON(); }
    sendUnpickButton.onclick = function(){ prepUnpickJSON(); }
  }    
 </script>
</head>
<body>
<div class="panel">
<span class="heading">Picks and Bans:</span><br/>
<select id="classselect">
  <option class="scout" value="1">Scouts</option>
  <option class="soldier" value="2">Soldiers</option>
  <option class="pyro">Pyros</option>
  <option class="demoman">Demomen</option>
  <option class="heavy">Heavies</option>
  <option class="engineer">Engineers</option>
  <option class="medic">Medics</option>
  <option class="sniper">Snipers</option>
  <option class="spy">Spies</option>
</select>

<select id="playerselect"></select>

<select id="slotselect" class="dbselect">
	<option value="#red-1">Red 1</option>
	<option value="#red-2">Red 2</option>
	<option value="#red-3">Red 3</option>
	<option value="#red-4">Red 4</option>
	<option value="#red-5">Red 5</option>
	<option value="#red-6">Red 6</option>
	<option value="#blu-1">Blu 1</option>
	<option value="#blu-2">Blu 2</option>
	<option value="#blu-3">Blu 3</option>
	<option value="#blu-4">Blu 4</option>
	<option value="#blu-5">Blu 5</option>
	<option value="#blu-6">Blu 6</option>
</select>
<div class="triplet">
  <div class="row"> 
    <div class="button"><button type="button" id="sendpick">Send pick</button></div>
    <div class="button"><button type="button" id="sendunpick" class="hidebutton">Send unpick</button></div>
  </div>
  <div class="row">
    <div class="button"><button type="button" id="sendban">Send ban</button></div>
    <div class="button"><button type="button" id="sendunban" class="hidebutton">Send unban</button></div>
  </div>
</div> 
</div>
</body>
</html>
